
<%- include('partials/header') -%>

<h1><%= title %></h1>
<p><%= content %></p>
<button class="btn btn-secondary"><a class="post" href="/posts/delete/<%=id%>">Delete</a></button>

<%- include('partials/footer') -%>